In [2]:
import pandas as pd
from pyspark.sql import SparkSession

spark = SparkSession.\
        builder.\
        appName("pyspark-notebook").\
        master("spark://spark-master:7077").\
        config("spark.executor.memory", "1g").\
        getOrCreate()

ModuleNotFoundError: No module named 'pyspark'

In [3]:
ls

 Le volume dans le lecteur C n’a pas de nom.
 Le numéro de série du volume est E41A-45AF

 Répertoire de C:\Users\amine\Desktop\fichier csv

03/11/2022  11:47    <DIR>          .
03/11/2022  11:47    <DIR>          ..
03/11/2022  11:47    <DIR>          .ipynb_checkpoints
03/11/2022  10:24    <DIR>          accident de la route
03/11/2022  10:25    <DIR>          circulation
03/11/2022  10:23    <DIR>          pollution air
03/11/2022  11:47                72 Untitled.ipynb
               1 fichier(s)               72 octets
               6 Rép(s)  374 920 122 368 octets libres

In [6]:
df = pd.read_csv("circulation/observatoire-parisien-des-mobilites-barometre-trimestriel-des-deplacements.csv",sep=";")

In [9]:
df[df["Indice fréquentation vélo"]>2.50]

,Année,Trimestre,Numéro trimestre,Début trimestre,Fin trimestre,Indice fréquentation vélo,Indice fréquentation - Parc des Rives de Seine JO,Indice fréquentation - Parc des Rives de Seine WE-JF,Stationnement - Parcs concédés - Jour,Nombre moyen abonnés - Parcs concédés,...,Vitesse moyenne PIM,Volume trafic BP,Vitesse moyenne BP,FREQ_VELIB,FREQ_METRO,FREQ_RERA_RERB,FREQ_BUS_PARIS,FREQ_T3,QUALITE_SERVICE_BUS,URL du rapport PDF complet
0,2016,2016 T1,T1,2016-01-01,2016-03-31,2.67,NaN,NaN,30517,32841,...,15.4,5545.0,37.4,NaN,392700000.0,124500000.0,88800000.0,26300000.0,92.7,NaN
1,2017,2017 T1,T1,2017-01-01,2017-03-31,2.59,1731.0,3656.0,27149,31169,...,14.5,5455.0,37.1,NaN,399700000.0,128000000.0,87800000.0,25900000.0,88.7,NaN
2,2018,2018 T4,T4,2018-10-01,2018-12-31,3.31,3789.0,4625.0,25337,32385,...,13.2,5244.0,34.2,3412534.0,411900000.0,135400000.0,83300000.0,31400000.0,87.0,NaN
3,2019,2019 T1,T1,2019-01-01,2019-03-31,2.65,3746.0,5880.0,23502,32408,...,13.3,5274.0,36.0,3721442.0,404300000.0,134400000.0,79600000.0,34800000.0,88.7,NaN
4,2019,2019 T2,T2,2019-04-01,2019-06-30,3.47,6025.0,7500.0,22784,32293,...,11.7,5160.0,34.3,5184661.0,406700000.0,134100000.0,78400000.0,34800000.0,85.7,NaN
5,2020,2020 T1,T1,2020-01-01,2020-03-31,4.52,3030.0,2900.0,21608,29577,...,13.0,4651.0,36.2,8474130.0,260500000.0,94800000.0,64300000.0,28000000.0,89.6,NaN
8,2013,2013 T2,T2,2013-04-01,2013-06-30,2.57,NaN,NaN,32473,37414,...,15.0,5634.0,35.8,NaN,388500000.0,120000000.0,83700000.0,20800000.0,92.8,NaN
9,2013,2013 T3,T3,2013-07-01,2013-09-30,2.71,NaN,NaN,26047,36658,...,15.6,5432.0,40.7,NaN,334600000.0,105400000.0,72700000.0,18300000.0,92.1,NaN
10,2016,2016 T2,T2,2016-04-01,2016-06-30,3.47,NaN,NaN,28199,32263,...,14.5,5442.0,34.5,NaN,393700000.0,126000000.0,89100000.0,27200000.0,91.7,NaN
11,2020,2020 T2,T2,2020-04-01,2020-06-30,5.50,8421.0,10444.0,8806,28978,...,14.5,4230.0,48.1,8025386.0,78100000.0,27700000.0,32900000.0,12900000.0,89.9,NaN
12,2020,2020 T4,T4,2020-10-01,2020-12-31,5.46,3978.0,4511.0,14855,30054,...,13.1,5148.0,39.8,8891597.0,189800000.0,67100000.0,52300000.0,22900000.0,90.9,NaN
14,2021,2021 T2,T2,2021-04-01,2021-06-30,5.72,5959.0,6957.0,16190,29065,...,12.7,5201.0,37.8,10282314.0,216100000.0,74500000.0,54100000.0,25800000.0,89.7,https://cdn.paris.fr/paris/2021/11/26/1d8e1d06...
16,2017,2017 T3,T3,2017-07-01,2017-09-30,3.44,4077.0,7196.0,21795,30469,...,14.6,5176.0,38.7,NaN,344000000.0,106500000.0,72900000.0,23400000.0,86.1,NaN
17,2018,2018 T2,T2,2018-04-01,2018-06-30,2.90,5083.0,7516.0,24703,31221,...,13.8,5273.0,33.2,977695.0,388700000.0,119400000.0,87000000.0,27900000.0,87.7,NaN
18,2019,2019 T3,T3,2019-07-01,2019-09-30,3.63,6254.0,7444.0,19609,31828,...,13.2,5171.0,39.1,7008196.0,358700000.0,115300000.0,69700000.0,30200000.0,86.5,NaN
19,2014,2014 T2,T2,2014-04-01,2014-06-30,2.85,NaN,NaN,30695,35595,...,14.9,5597.0,36.7,NaN,389200000.0,119700000.0,89000000.0,23600000.0,91.6,NaN
20,2020,2020 T3,T3,2020-07-01,2020-09-30,6.52,6278.0,6487.0,17738,29793,...,13.6,5238.0,39.2,13343782.0,224900000.0,74000000.0,58000000.0,20100000.0,88.2,NaN
21,2021,2021 T3,T3,2021-07-01,2021-09-30,5.54,7690.0,8833.0,19504,29441,...,13.1,5017.0,39.0,10246026.0,265500000.0,86900000.0,55700000.0,24600000.0,88.8,https://cdn.paris.fr/paris/2022/02/04/fc1249e1...
22,2021,2021 T4,T4,2021-10-01,2021-12-31,5.56,4898.0,4963.0,23158,30006,...,11.7,4906.0,33.3,9111895.0,335700000.0,113000000.0,62200000.0,30300000.0,88.4,https://cdn.paris.fr/paris/2022/04/15/ea815748...
23,2015,2015 T3,T3,2015-07-01,2015-09-30,2.85,NaN,NaN,23065,33544,...,15.4,5373.0,40.3,NaN,343600000.0,103700000.0,73700000.0,20500000.0,90.7,NaN
24,2016,2016 T3,T3,2016-07-01,2016-09-30,3.08,NaN,NaN,22243,31504,...,15.1,5243.0,37.6,NaN,334500000.0,102000000.0,75100000.0,22500000.0,91.0,NaN
26,2019,2019 T4,T4,2019-10-01,2019-12-31,3.88,4293.0,4639.0,27434,29877,...,11.6,4981.0,30.9,8045782.0,328000000.0,112800000.0,77000000.0,34400000.0,88.4,NaN
27,2015,2015 T2,T2,2015-04-01,2015-06-30,3.07,NaN,NaN,28674,34394,...,14.5,5538.0,35.7,NaN,390800000.0,122300000.0,87500000.0,25800000.0,91.0,NaN
28,2011,2011 T2,T2,2011-04-01,2011-06-30,2.55,NaN,NaN,33400,39200,...,15.2,5685.0,37.6,NaN,392700000.0,119700000.0,96200000.0,10300000.0,95.2,NaN
30,2013,2013 T4,T4,2013-10-01,2013-12-31,2.57,NaN,NaN,36038,37291,...,14.7,5519.0,36.3,NaN,405700000.0,123100000.0,87100000.0,22400000.0,92.7,NaN
31,2014,2014 T3,T3,2014-07-01,2014-09-30,2.76,NaN,NaN,26004,34580,...,15.5,5470.0,41.0,NaN,337000000.0,107200000.0,75500000.0,19900000.0,91.3,NaN
32,2016,2016 T4,T4,2016-10-01,2016-12-31,3.14,NaN,NaN,29410,31670,...,14.2,5325.0,34.3,NaN,397700000.0,125800000.0,87500000.0,25900000.0,90.9,NaN
33,2017,2017 T2,T2,2017-04-01,2017-06-30,3.19,4180.0,7161.0,25191,30812,...,14.0,5281.0,33.2,NaN,383800000.0,124600000.0,85600000.0,26400000.0,87.3,NaN
34,2012,2012 T3,T3,2012-07-01,2012-09-30,2.68,NaN,NaN,27212,37665,...,15.0,5469.0,41.0,NaN,340600000.0,107800000.0,74500000.0,7900000.0,95.2,NaN
35,2014,2014 T1,T1,2014-01-01,2014-03-31,2.51,NaN,NaN,32376,37155,...,16.0,5652.0,41.5,NaN,391900000.0,121500000.0,89400000.0,23300000.0,92.8,NaN
37,2021,2021 T1,T1,2021-01-01,2021-03-31,5.22,3810.0,4831.0,14627,29136,...,12.9,5124.0,39.8,7590110.0,198000000.0,67400000.0,50000000.0,23800000.0,91.1,https://cdn.paris.fr/paris/2021/10/04/8fdcf856...
38,2022,2022T1,T1,2022-01-01,2022-03-31,3.93,4541.0,5650.0,17813,28993,...,12.9,5033.0,37.7,8613268.0,308600000.0,105700000.0,59600000.0,30900000.0,90.6,https://eu.ftp.opendatasoft.com/parisdata-dvd/...
39,2015,2015 T4,T4,2015-10-01,2015-12-31,2.60,NaN,NaN,30213,34033,...,14.7,5445.0,35.7,NaN,398000000.0,123600000.0,88100000.0,25700000.0,90.8,NaN
40,2017,2017 T4,T4,2017-10-01,2017-12-31,3.15,2884.0,4169.0,28253,30571,...,13.6,5273.0,33.9,NaN,411200000.0,133400000.0,86700000.0,27900000.0,87.4,NaN
41,2011,2011 T3,T3,2011-07-01,2011-09-30,2.82,NaN,NaN,26900,38300,...,15.9,5608.0,43.2,NaN,335500000.0,105300000.0,78800000.0,8140000.0,96.1,NaN
42,2018,2018 T3,T3,2018-07-01,2018-09-30,2.68,5445.0,7625.0,20442,31685,...,14.7,5284.0,39.9,2300270.0,351100000.0,108600000.0,73500000.0,24000000.0,86.1,NaN
43,2022,2022T2,T2,2022-06-01,2022-08-31,5.24,7583.0,7960.0,19952,29350,...,12.1,4925.0,32.7,11650421.0,345000000.0,119700000.0,63500000.0,32300000.0,88.5,https://eu.ftp.opendatasoft.com/parisdata-dvd/...
45,2014,2014 T4,T4,2014-10-01,2014-12-31,2.77,NaN,NaN,35795,35029,...,14.6,5510.0,36.4,NaN,408000000.0,125600000.0,87600000.0,24600000.0,87.6,NaN

ModuleNotFoundError: No module named 'pyspark'